*{

margin:0;
padding:0;
box-sizing:border-box;

font-family:Arial;

}

body{

background:#d9eeff;

display:flex;

justify-content:center;

align-items:center;

height:100vh;

}

.screen{

width:850px;

max-width:95%;

background:white;

padding:40px;

border-radius:20px;

box-shadow:0 0 25px rgba(0,0,0,.15);

animation:fade .4s;

}

.hide{

display:none;

}

h1{

color:#0d6efd;

margin-bottom:20px;

}

button{

background:#0d6efd;

color:white;

border:none;

padding:15px 35px;

border-radius:10px;

cursor:pointer;

margin-top:25px;

font-size:18px;

transition:.2s;

}

button:hover{

transform:scale(1.05);

}

.top{

display:flex;

justify-content:space-between;

margin-bottom:15px;

}

.progress{

height:18px;

background:#d7e8ff;

border-radius:50px;

overflow:hidden;

margin-bottom:30px;

}

#progressBar{

height:100%;

width:0%;

background:#0d6efd;

transition:.3s;

}

#questionBox{

font-size:24px;

margin-bottom:25px;

font-weight:bold;

}

.answer{

padding:18px;

border:2px solid #d5d5d5;

border-radius:10px;

margin-bottom:15px;

cursor:pointer;

transition:.2s;

}

.answer:hover{

background:#eef6ff;

}

.correct{

background:#3ddc84 !important;

color:white;

border:none;

}

.wrong{

background:#ff4d4d !important;

color:white;

border:none;

}

.selected{

border:3px solid #0d6efd;

background:#e9f4ff;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(20px);

}

to{

opacity:1;

transform:none;

}

}
